*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif !important;
}

a{
    cursor: pointer;
}

#main{
    width: 100%;
    height: 120vh;
    display: flex;
    text-align: center;
    background-image: linear-gradient(to left, rgba(184, 219, 217, 0.7), rgba(184,219,217, 0.4));
}

.menu{
    width: 20%;
    height: 120vh;
    background-color: rgb(36, 110, 185, 0.6);
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    border-top: 1px solid #231f20;
    border-bottom: 1px solid #231f20;
}

.menu a:hover{
    background-color: rgb(232, 174, 183, 0.8);
    transition: 0.5s;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.body{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#Logo {
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    background-color: #246eb9ff;
    cursor: pointer;
}

#image {
    width: 120px; 
    height: 120px;
}

#form{
    margin-top: 200px;
    padding: 20px;
    height: 35%;
    background-image: linear-gradient(to bottom, rgba(36, 110, 185, 0.7), rgba(36, 110, 185, 0.6));
    border: 1px dashed #231f20;
    border-radius: 7px;
}

.input{
    display: flex;
    flex-direction: column;
    color:#231f20;
    font-weight: bold;
    width: 100%;
    height: 17%;
}

.inputradio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
}

.box-input{
    border: none;
    border-color: #231f20;
    border-left: 2px solid;
    border-bottom: 1px dotted;
    border-right: 1px dotted;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.button{
    align-self: center;
    background-color: white;
    border-color: #231f20;
    border-radius: 14%;
    color: #231f20;
    margin-bottom: 10px;
    width: 10%;
    cursor: pointer;
}

.button:hover{
    background-color:#231f20;
    border-color:  #231f20;
    border-radius: 14%;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(35, 31, 32,0.24), 0 17px 50px 0 rgba(35, 31, 32,0.19);
}

.button:active{
    background-color:#231f20;
    color: #fff;
    border-radius: 14%;
    transform: translateY(4px);
}
