/*https://coolors.co/78e0dc-e8aeb7-246eb9-231f20-588157*/



/* Coolors Exported Palette - https://coolors.co/78e0dc-e8aeb7-246eb9-231f20-588157 */

/* CSS HEX */
--powder-blue: #b8dbd9ff;
--middle-blue-green: #78e0dcff;
--light-pink: #e8aeb7ff;
--spanish-blue: #246eb9ff;
--raisin-black: #231f20ff;
--fern-green: #588157ff;

/* CSS HSL */
--powder-blue: hsla(177, 33%, 79%, 1);
--middle-blue-green: hsla(178, 63%, 67%, 1);
--light-pink: hsla(351, 56%, 80%, 1);
--spanish-blue: hsla(210, 67%, 43%, 1);
--raisin-black: hsla(345, 6%, 13%, 1);
--fern-green: hsla(119, 19%, 42%, 1);

/* SCSS HEX */
$powder-blue: #b8dbd9ff;
$middle-blue-green: rgb(120, 224, 220);
$light-pink: #e8aeb7;
$spanish-blue: #246eb9ff;
$raisin-black: #231f20;
$fern-green: #588157ff;

/* SCSS HSL */
$powder-blue: hsla(177, 33%, 79%, 1);
$middle-blue-green: hsla(178, 63%, 67%, 1);
$light-pink: hsla(351, 56%, 80%, 1);
$spanish-blue: hsla(210, 67%, 43%, 1);
$raisin-black: hsla(345, 6%, 13%, 1);
$fern-green: hsla(119, 19%, 42%, 1);

/* SCSS RGB */
$powder-blue: rgba(184, 219, 217, 1);
$middle-blue-green: rgba(120, 224, 220, 1);
$light-pink: rgba(232, 174, 183, 1);
$spanish-blue: rgba(36, 110, 185, 1);
$raisin-black: rgba(35, 31, 32, 1);
$fern-green: rgba(88, 129, 87, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-right: linear-gradient(90deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-bottom: linear-gradient(180deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-left: linear-gradient(270deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-top-right: linear-gradient(45deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-bottom-right: linear-gradient(135deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-top-left: linear-gradient(225deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-bottom-left: linear-gradient(315deg, #78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);
$gradient-radial: radial-gradient(#78e0dcff, #e8aeb7ff, #246eb9ff, #231f20ff, #588157ff);